!!! 5
%html#no-js{:lang => "ru"}
  %head
    = csrf_meta_tag
    %meta{:charset => "utf-8"}
    %title= @meta_title || "Велоконь"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "keywords"}
    %meta{:name => "viewport", :content => "width=1000"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    = stylesheet_link_tag :app, :media => "all"
  %body
    - if flash[:notice]
      .flash-notice= flash[:notice]

    = yield

    = javascript_include_tag :app
    = yield :javascript

    = render 'shared/analytics'
