!!! 5
%html#no-js{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
    %title= @meta_title || "Horsey!"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "keywords"}
    %meta{:name => "viewport", :content => "width=1000"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    = stylesheet_link_tag :app, :media => "all"
  %body
    = yield
    = javascript_include_tag :app
    = yield :javascript
