!!! 5
%html#no-js{:lang => "ru"}
  %head
    = csrf_meta_tag
    %meta{:charset => "utf-8"}
    %title= @meta_title || "Велоконь"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "keywords"}
    %meta{:name => "viewport", :content => "width=1280"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic", :rel => "stylesheet"}
    = stylesheet_link_tag :app, :media => "all"

    %meta{:property => "og:title", :content => "Велоконь"}
    %meta{:property => "og:description", :content => "Я управляю Велоконём! Его судьба в моих руках!"}
    %meta{:property => "og:url", :content => "http://velogame.molinos.ru"}
    %meta{:property => "og:image", :content => "http://velogame.molinos.ru/i/share.png"}
    %meta{:name => "title", :content => "Велоконь"}
    %meta{:name => "description", :content => "Я управляю Велоконём! Его судьба в моих руках!"}
    %link{:rel => "image_src", :href => "http://velogame.molinos.ru/i/share.png"}

  %body
    - if flash[:notice]
      .message= flash[:notice]

    = yield

    = javascript_include_tag :app
    = yield :javascript

    = render 'shared/analytics'
